.repository-list {
    padding-bottom: 24px!important;
    padding-top: 24px!important;
    border-top: 1px solid #d0d4e0!important;
}
.repository-list:last-child {
    border-bottom: 1px solid #d0d4e0!important;
}